{% extends 'base.html' %}

{% block head %}
<title>posts</title>
{% endblock %}

{% block body %}
<h1>home page</h1>
    <hr>
    <h2>Creat new blog post:</h2>
    <form action="/posts" method="POST">
        Title: <input type="text" name="title" id="title"> 
        <br>
        Post: <input type="text" name="content" id="content">
        <br>
        Author: <input type="text" name="author" id="author">
        <br>
        <input type="submit" value="Post">
    </form>
    <hr>


    {% for post in posts %}
        <h2>{{ post.title }}</h2>

        {% if post.author %}
            <p>By: {{ post.author }}</p>
        {% else %}
            <p>By: N/A</p>
        {% endif %}

        <p>{{ post.content }}</p>
        <a href='/posts/delete/{{post.id}}'>Delete</a>
        <a href='/posts/edit/{{post.id}}'>Edit</a>
        <hr>
    {% endfor %}

{% endblock %}

